name: vulncheck

on:
  workflow_dispatch:
  schedule:
    - cron: '0 9 * * 6'

jobs:
  vulncheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: dhth/composite-actions/.github/actions/govulncheck@main
        with:
          go-version-file: 'go.mod'
